@import "colors";

apl_html {
	height: 100%;
}

.bold { 
	font-weight: bold ; 
}

.bolder { 
	font-weight: 800;
}

.normal { 
	font-weight: normal ;
}

.handler_down {
	padding: 1em;
	text-decoration: none;
	font-weight: bold;
	margin-top: 1em;
}

.toggle {
	padding: 1em;
}

.pane-faq-views-panel-pane-1,
.pane-faq-views-panel-pane-2 {
	.views-row-odd {
		background-color: #D4DDEE;
		border-radius: 1.0em;
		cursor: pointer;
	}
	.views-row-even {
		background-color: #d9f5ff;
        border-radius: 1.0em;
		cursor: pointer;
	}
}

.faq_answer { 
	display: block;
	margin: 0;
	margin-bottom: 1.0em;
	padding: .8em;
	padding-top: 0;
}

.handler {
	margin: 0;
	padding:1em !important;
	margin-top: 1em;
	border: 1px solid transparent;
	border-radius: 1em;
&:link {
	color: blue;
}
&:visited {
	color: blue;
}
&:hover {
	color: red;
	border: 1px solid silver;
}
&:active {
	color: orange;
}
}


h3 {
	margin: 0;
	padding: 0;
}

.hr_faq {
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
	color: silver;
    border: 1px solid silver;
    height: 1px;
	line-height: none;
}

.faq_changed {
	background-color: #CFCCA7;
	height: 1em;
	text-align: right;
	width: auto;
	float: right;
	padding: .4em;
	margin: 0;
	color: #666666;
	font-size: 10px;
	font-weight: bold;
	vertical-align: text-top;
	line-height: 1em;
	border-radius: .3em;
}

.show_all_button {
	color: #555555;
	border-style: solid;
	border-color: #AAAAAA;
	border-radius: .3em;
&:hover {
	color: $blue_black; 
	background-color: white; 
	border-color: silver; 
	cursor: pointer;
}
}

.hide_all_button {
	color: #555555;
	border-style: solid;
	border-color: #AAAAAA;
	border-radius: .3em;
&:hover {
	color: $blue_black; 
	background-color: white; 
	border-color: silver; 
	cursor: pointer;
}
}
