@import "colors";
@import "typography";
div.blog-post {
	div.views-row div.views-field {
	&.views-field-body {
		padding-left: 0px;
	}
	&.views-field-created-1 {
		margin-left: 19px;
	}
	}
}

div.blogs-list,
div.events,
div.blog-post {
	div.views-row {	
		overflow: hidden;
		min-height: 155px;
		border: 1px solid silver;
		margin-bottom: 15px;
		//box-shadow: 5px 5px 5px silver;
		box-shadow: 0px 5px 3px silver;
		div.views-field {
			padding-right: 10px;
		&.views-field-field-main-image {
			float: left;
			a {
				display: block;
				height: 155px;
				img {
					max-width: 155px;
					max-height: 155px;
				}
			}
		}
		&.views-field-title {
			margin-top: 6px;
			margin-right: 10px;
			margin-left: 165px;
			margin-bottom: 5px;
			min-height: 22px;
			//font-size: 14px;
			font-size: 20px;
			padding-right: 10px;
			//width: 100px;
				@include ellipsis;
			span a {
//				background-color: red !important;
			}
		}
		&.views-field-created {
			padding-left: 165px;
			clear: none;
			span {
			&[class*='y200'],
			&[class*='y2010'],
			&[class*='y2011'],
			&[class*='y2012'] {
				//background-color: green;
				&:after {
					content: " (This post is old.)";
				}
			}
			}
		}
		&.views-field-body {
			padding-left: 165px;
			padding-bottom: 10px;
			margin-top: 10px;
		}
		&.views-field-field-date-and-time,
		&.views-field-field-event-loc {
			padding-left: 165px;
			padding-bottom: 10px;
			margin-top: 10px;
		}

		&.views-field-title-1 {
			clear: left;
			margin-top: 10px;
			text-align: right;
		}
		}
	}
}
div.blog-post {
		span.views-label.views-label-field-blog-books {
			margin-left: 18px;
		}
.jcarousel-skin-default .jcarousel-item-placeholder {
	background: none;
	border: none;
}
	div.views-row {	
		overflow: hidden;
		width: 100%;
		div.jcarousel-skin-default a.jcarousel-next-horizontal {
			right: -6px;
		}
	}
}
