@import "colors";
@import "dimensions";

#search_top, 
#maincontent + #footer {
    margin: 10px;
}

div#apl_footer {
	margin: 0;
	padding: 0 10px;
	float: left;
	text-align: center;
	clear: both;
	width: 940px;
	ul {
	text-align: left;
	padding: 0;
		ul {
			list-style: none !important;
			list-style-type: none !important;
			list-style-image: none !important;
			margin-top: 15px;
			margin-right: 8px;
			li {
				a {
					font-weight: normal;
				}
				clear: both;
				font-size: 11px;
				line-height: 11px;
				li {
					clear: both;
					margin-top: 0px;
					line-height: 0px;
				} 
			}
		}
	}
	li {
		float: left;
		font-weight: bold;
		list-style: none outside none !important;
		padding-bottom: 10px;
		list-style-type: none !important;
		list-style-image: none !important;
		margin-right: 5px;
		width: 129px;
	}
	.region-footer {
		font-size:14px;
		padding-top:10px;
		padding-left:-10em;
	}
}

#bottom {
	tbody {
		border: none;
	}
//	border-bottom-left-radius: 10px;
//	border-bottom-right-radius: 10px;
//	background: #CCCCCC;
	background-color: darken($blue, 10%);
	a {
		color: white;
	}
	font-size:12px;
	color: #333;
	float: none;
	clear: both;
	width: $page_w + $page_pad*2;
//	height: 7em;
	padding-top: 10px;
	p {
		margin-left:19px;
		margin-top:10px;
	}
}

#bottom_links {
	margin: 0 0 10px 10px;
	width: 940px;
	height: 40px;
	padding-left: 0;
	li {
		display: block;
		float: left;
		margin-right: 10px;
	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(9)
 	{
		margin-top: 6px;
	}
	&:last-child {
		float: right;
		margin-right: 0;
	}
	}
}
