@import "colors";

body.page-apl-blanco {
	div.pane-all-book-lists-panel-pane-6 {
		margin-top: 50px\9;
	}
div#apl-slideshow {
	div.views-field-title,
	div.views-field-body {
		color: black\9;
		p {
			color: black\9;
		}
		a {
			color: $blue \9;
		}
	}
	div.views-field-title {
		bottom: -20px\9;
	}
	div.views-field-body {
		bottom: -40px\9;
	}
}

}
