@import "colors";

#block-locale-language ul.language-switcher-locale-session {
	li {
	&.en {
		display: none;
	}
		display: block;
		float: right;
		margin: 0 10px 0 0;
		a {
			color: $blue;
		}
	}
}
