@import "patterns";

div.messages {
	@include rhombus;
}

div.node-webform h2,
div.webform-confirmation h2,
div.webform-submission h2 {
margin: 2em 0 1em;
font-size: large;
}

div.node-webform input.form-submit,
div.node-webform a.button,
div.webform-submission input.form-submit,
div.webform-submission a.button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
 /* font-family: "Lucida Grande", Verdana, sans-serif;
  */
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
div.node-webform a.button:link,
div.node-webform a.button:visited,
div.node-webform a.button:hover,
div.node-webform a.button:active,
div.webform-submission a.button:link,
div.webform-submission a.button:visited,
div.webform-submission a.button:hover,
div.webform-submission a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

div.node-webform input.form-submit:active,
div.webform-submission input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0 -1px 0;
}

div.node-webform input.form-button-disabled,
div.node-webform input.form-button-disabled:active,
div.webform-submission input.form-button-disabled,
div.webform-submission input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
body.page-node-2687 #ui-datepicker-div {
	z-index: 9998 !important;
}

body.page-node-2687 input.form-autocomplete,
body.page-node-2687 input.form-text,
body.page-node-2687 input.form-file,
body.page-node-2687 textarea.form-textarea,
body.page-node-2687 select.form-select,
div.node-webform input.form-autocomplete,
div.node-webform input.form-text,
div.node-webform input.form-file,
div.node-webform textarea.form-textarea,
div.node-webform select.form-select,
div.webform-submission input.form-autocomplete,
div.webform-submission input.form-text,
div.webform-submission input.form-file,
div.webform-submission textarea.form-textarea,
div.webform-submission select.form-select {
  padding: 2px;
  margin-right: 0.5em;
  margin-bottom: 2em;
  display: inline;
  float: left;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
}







body.page-node-2687 select.year,
div.node-webform select.year {
  width: 5em;
}
body.page-node-2687 select.month,
div.node-webform select.month {
  width: 5.5em;
}
body.page-node-2687 select.day,
div.node-webform select.day {
  width: 4.5em;
}

body.page-node-2687 div.webform-component-select label,
body.page-node-2687 div.webform-component-textfield label,
body.page-node-2687 div.webform-component-email label, 
div.node-webform  div.webform-component-select label,
div.node-webform  div.webform-component-textfield label,
div.node-webform  div.webform-component-email label {
margin-top: 2em !important;
clear: left;
}

div.node-webform div.form-item {
margin: 0;
}

div.node-webform div.webform-component-markup {
clear: left;
}

div.node-webform div.form-type-checkbox,
div.node-webform div.form-type-radio {
margin-top: .8em;
}

div.node-webform div.form-type-checkbox  input,
div.node-webform div.form-type-checkbox  label,
div.node-webform div.form-type-radio  input,
div.node-webform div.form-type-radio  label {
vertical-align: middle;
}
div.node-webform input.form-checkbox,
div.node-webform input.form-radio {
margin-right: .2em;
}
div.node-webform input.form-radio {
margin-top: -2px;
}











fieldset.suggest div.description,
div.node-webform div.description,
div.webform-submission div.description {
clear: left;
font-size: 1em;
}

div.node-webform div.fieldset-description,
div.webform-submission div.fieldset-description {
font-style: oblique;
margin-bottom: 2em;
}

div.node-webform  div#webform-component-digital-signature div.description,
div.webform-submission  div#webform-component-digital-signature div.description {
margin: 0 0 2em;
color: black;
}





/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
fieldset.field-group-fieldset,
fieldset.suggest fieldset.suggest {
	margin: 2em 0;
}
fieldset.field-group-fieldset.collapsed,
fieldset.suggest.collapsed {
	border: none;
	max-height: 2em;
}


body.page-node-2687 {
	div.webform-component-checkboxes {
		margin: 0 0 20px;
	}
	#webform-component-digital-signature {
		div.description {
			margin-top: 0;
			clear: left;
		}
		input#edit-submitted-digital-signature {
			margin-bottom: 0;
		}
	}
	fieldset{
		border: 1px solid #ccc;
	//	padding: 2.5em 0 1.5em 0; /* LTR */
		position: relative;
		margin: 1em 0 0;
		clear: left;
	//	border-radius: 10px;
		legend {	
			background-color: white;
			border: 1px dashed #e8e8e8;
			width: 240px;
			display: block;
			margin-bottom: 5px;
			*min-height: 2em;
			*position: relative;
			
			span a {
				*position: absolute;
				*bottom: 3px;
			}
		}
	}
}

fieldset.field-group-fieldset .fieldset-legend,
fieldset.suggest .fieldset-legend,
div.node-webform fieldset .fieldset-legend,
div.webform-submission fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px; /* LTR */
  position: absolute;
  font-weight: bold;
  width: 100%;
  /*text-transform: uppercase;*/
}

fieldset.field-group-fieldset .fieldset-wrapper,
fieldset.suggest .fieldset-wrapper,
div.node-webform fieldset .fieldset-wrapper,
div.webform-submission fieldset .fieldset-wrapper {
  padding: 1em;
  border-top: 2px solid #ccc;
}

div.node-webform fieldset.collapsed,
div.webform-submission fieldset.collapsed {
  background-color: transparent;
}

html.js div.node-webform  fieldset.collapsed,
html.js div.webform-submission  fieldset.collapsed {
  border-width: 1px;
  min-height: auto;
}

div.node-webform fieldset fieldset,
div.webform-submission fieldset fieldset {
  background-color: #fff;
}

div.node-webform fieldset fieldset fieldset,
div.webform-submission fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

div.node-webform em,
div.webform-submission em {
display: block;
margin: 0 1.5em;
font-style: normal;
}

body.page-node-2687 strong,
div.node-webform strong,
div.webform-submission strong {
display: block;
margin: 0 1.5em 1.5em 1.5em;
font-weight: normal;
border: 1px solid #cccccc;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 padding: 10px;
 
border-top-left-radius: 0;
-moz-border-top-left-radius: 0;
-webkit-border-top-left-radius: 0;
}
body.page-node-2687 strong em {
	display: block;	
}

body.page-node-2687 strong em strong,
div.node-webform strong em strong,
div.webform-submission strong em strong {
font-weight: 700;
margin: 0;
border: none;
padding: 0;
}

body.page-node-2687 .hint,
div.node-webform .hint,
div.webform-submission .hint {
margin: 1em 0 1em 1em !important;
max-width: 36em;
float: right;
border: 1px solid green;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 padding: 10px;
	strong {
		font-weight: bold;
		border: none;
		display: inline;
		margin-left: 0;
		padding-left: 0;
	}
}


div.node-webform p strong,
div.webform-submission p strong {
font-weight: 700;
display: inline;
border: 0;
padding: 0;
margin: 0;
}

div.node-webform div#webform-component-general-guidelines-agreement,
div.node-webform   div#webform-component-reservations-agreement,
div.node-webform div#webform-component-care-and-use-agreement,
div.node-webform div#webform-component-austin-history-center-additional-guidelines-agreement {
margin: -1em 0 4em;
}

div.webform-submission div#webform-component-general-guidelines-agreement,
div.webform-submission   div#webform-component-reservations-agreement,
div.webform-submission div#webform-component-care-and-use-agreement,
div.webform-submission div#webform-component-austin-history-center-additional-guidelines-agreement {
margin: 1em 0 2em;
}

div.node-webform input.require-one + label.option,
div.webform-submission input.require-one + label.option {
font-weight: 700;
}

#webform-component-meeting-room-policy--intro p em {
margin: 2em 0 0 0;
font-style: italic;
font-weight: 700;
}



div.webform-submission h2.webform-page,
div.webform-submission fieldset#webform-component-meeting-room-policy, 
div.webform-submission fieldset#webform-component-general-guidelines,
div.webform-submission fieldset#webform-component-reservations,
div.webform-submission fieldset#webform-component-care-and-use-of-facilities,
div.webform-submission fieldset#webform-component-austin-history-center-additional-guidelines,
div.webform-submission div.fieldset-description
 {
display: none;
}

fieldset.collapsible   {
 background: url("/misc/menu-expanded.png") no-repeat scroll 0.75em 1em transparent !important;
}    

fieldset.collapsed  {
    background-image: url("/misc/menu-collapsed.png") !important;
}

//div.node-webform fieldset legend span a{
fieldset legend span a{
margin-top: -2.5em !important\9;
	position: absolute\9;
}
