@import "colors";

#header {
	h2.block-title,
	#form_catalog,
	#form_site,
	#form_articles {
		display: none;
	}
	div.logo {
	  margin: 25px 0px 6px 12px;
	  width: 120px;
	}
	div.logo_text {
		margin: 25px 0px 6px 12px;
		width: 120px;
		font-size: 20px;
	}
	div.mobile_logo {
		margin: 10px;
		width: 135px;
	}
	form {
		margin-top: 10px;
		background: transparent;
		padding: 0px 25px 0px 60px;
		border-width: 0;
		border-style: solid;
		border-color: #f2f2f2;
		select {
			width: 124px;
			margin: 0 2px 0 0;
			padding: 6px 2px 6px 0;
			float: right;
		}
		input.search_button {
			background-color: $blue;
			color: white;
			height: 30px;
			padding: 4px 10px 5px;
			vertical-align: middle;
			float: right;
			border-width: 0;
			font-size: 1em;
			font-weight: bold;
			border-top-right-radius: 5px;
			&:hover {
				background-color: lighten($blue, 10%);
			}
		//	-webkit-border-radius: 0 5px 5px 0;
		//	-moz-border-radius: 0 5px 5px 0;
		//	border-radius: 0 5px 5px 0;
		}
		label {
			font-weight: normal;
		}
		a.moreSearch { 
			clear: right;
			white-space: nowrap;
			font-size: 10px;
			text-align: right;
			display:block;
		//	width: 15em;
			float: right;
			&:hover {
				text-decoration: underline;
				color: $blue;
			}
		}
		div.searchOptions {
			color: $blue;
			float: left;
			margin-left: 5px;
//			padding-left: 134px;
			label.inline {
				display: inline;
				border-color: #c2c2c2; 
				margin: 0 10px 0 0;
			&:hover {
				text-decoration: underline;
			}
			}
		}
		textarea, 
		input.text, 
		input.password {
			border-width: 1px;
			border-style: solid;
			padding: 4px;
			//font-size: 0.916em;
			margin-bottom: 2px;
		}
		input.text, 
		input.password {
			width: 200px;
		}
		input.text {
		//	border-color: $blue-medium;
		//	margin: 0;
		//	height: 20px;
		//	width: 350px;
		//	font-size: 1.2em;
		//	border-width: 1px 0 1px 1px;
			@include input_box_button;
			float: right;
			width: 320px !important;
			
		}
	}
	div#aplCustomSearchWrapper2 {
//		width: 650px;
		float: right;
	}
}
